<app-page-header [breadCrumbItems]="[{text: 'Análise de Dados'}]" page-title="Análise de Dados" [show-button]="false"></app-page-header>
<!--<app-bread-crumb [items]="[{text: 'Relatório de Clientes'}]"></app-bread-crumb>-->


<!--criar um panel container-->
<section class="content">
  <div class="container-fluid">


        <div class="container-fluid">
          <!-- SELECT2 EXAMPLE -->
          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">Selecione os filtros para consulta</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="row">

                <div class="col-md-12">

                <p-tabView>

                  <p-tabPanel [header]="tab.name" *ngFor="let tab of tabs">

                     <app-tab [tabName]="tab.name" [tableName]="tab.tableName"  [columns]="tab.columns"></app-tab>

                  </p-tabPanel>

                </p-tabView>
              </div>

              </div>
            </div>

          </div>
         <!-- /.card -->

          </div>

</div>
</section>
<!--fim panel container-->

